logs

# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
.buildpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs

# Maven
target

# Netbeans Ignore
nbproject
build
dist
private

#idea project
.idea
*.iml
*.iws
*.ipr


#jdbc properties
*jdbc.properties

#fuse-fuse
.fuse*

#ireport
*.jasper